<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <h1>My Awesome Website</h1>
    <ul>
      <a href='Fred'><li>Fred</li></a>
      <a href='Bob'><li>Bob</li></a>
      <a href='Sally'><li>Sally</li></a>
      <a href='Jim'><li>Jim</li></a>
      <a href='Diane'><li>Diane</li></a>
      <a href='whatever'><li>Whatever</li></a>
    </ul>
    <%= yield %>
    <script src='script.js'></script>
  </body>
</html>