<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='radlibStyle.css'>
  </head>
  <body>
    <ul>
      <a href='/'><li>Story Links</li></a>
      <a href='upload'><li>Upload</li></a>
    </ul>
    <h1 id='websiteHeader'>My Radlibs Website</h1>
    <%= yield %>
  </body>
</html>